*{
  box-sizing: border-box;
  font-family: Anaheim;
  
}

body {
  margin: 0;
  background-color: #2D2327;
  color: #B5C2B7;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  

}

header{
  text-align: center;

  h1{
    font-weight: 100;
    font-size: 1.25rem;
  }

  p{
    font-size: 0.875rem;
  }

}

.status-game{
  
  text-align: center;
  background-color: #62466B;
  margin-top: 20px;
  padding: 10px;
  min-height: 70px;
  
  h2{
    margin: 0;
    font-weight: 100;
  }
  p{
    margin: 0;
  }
}

section.status-game.game-over{
  background-color: #D8315B;
}

section.status-game.game-won{
  background-color: aquamarine;
  color:#2D2327
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-inline: auto;
  margin-top: 25px;

  .span-languages {
    position: relative; 
    padding: 5px;
    border-radius: 3px;
  }
  
  .span-languages.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  
  .span-languages.lost {
    position: relative;
    z-index: 2; 
  }
}






.word {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-height: 90px;
  .span-letters{
    background-color: #45364B;
    color: #B5C2B7;
    padding: 10px;
    font-size: 40px;
    border-bottom: 2px solid #B5C2B7 ;
    margin: 5px;
    text-transform: uppercase;
    min-width: 40px;
  }

}

.keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  max-width: 350px;
  margin-inline: auto;
  

  button{
    background-color: #B5C2B7;
    font-size: 30px;
    text-transform: uppercase;
    margin: 2px;
    border-radius: 4px;
    gap: 8px;

  }

  .bg-green{
    background-color: aquamarine;
  
  }

  .bg-red{
    background-color:#D8315B;
    color: #B5C2B7;
  
}
}

button.new-game {
  margin-top: 30px;
  background-color: #8C93A8;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
  font-size: 18px;
  color: #000000;
}



