*{
  box-sizing: border-box;
  font-family: Anaheim;
}

body {
  margin: 0;
  background-color: #2D2327;
  color: #B5C2B7;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;

}

header{
  text-align: center;

  h1{
    font-weight: 100;
    font-size: 1.25rem;
  }

  p{
    font-size: 0.875rem;
    max-width: 350px;

  }

}

.status-game{
  
  text-align: center;
  background-color: #62466B;
  margin-top: 20px;
  padding: 10px;
  h2{
    margin: 0;
    font-weight: 100;
  }
  p{
    margin: 0;
  }
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-top: 25px;
  

  .span-languages{
    padding: 5px;
    border-radius: 3px;
  }

}

.word {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  min-height: 90px;
  .span-letters{
    background-color: #45364B;
    color: #B5C2B7;
    padding: 10px;
    font-size: 40px;
    border-bottom: 2px solid #B5C2B7 ;
    margin: 5px;
    text-transform: uppercase;
    min-width: 40px;
  }

}

.keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  max-width: 350px;
  

  button{
    background-color: #B5C2B7;
    font-size: 30px;
    text-transform: uppercase;
    margin: 2px;
    border-radius: 4px;
    gap: 8px;

  }

  .bg-green{
    background-color: aquamarine;
  
  }

  .bg-red{
    background-color:#D8315B;
    color: #B5C2B7;
  
}
}



